@{
    Layout = "_Layout";
}
<div class="image-banner text-center">
    <h1 class="banner-text ">Een box met lekkere producten van Avans!</h1>
</div>

<div class="container-fluid mt-5 mb-4 ">
    <div class="row gx-4 gy-4 ">
        <di class="col-lg-6 col-sm-12  ">
            <div class="card p-4 ">
                <img class="card-img-top" src="images/box.jpg" alt="Card image cap">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur, et fuga fugiat ipsa libero rerum sapiente temporibus vel veritatis!</p>
                    <button class="btn btn-outline-success">Bestel nu!</button>
                </div>
            </div>


        </di>
        <di class="col-lg-6 col-sm-12">
            <div class=" card p-4  ">
                <img class="card-img-top" src="images/box.jpg" alt="Card image cap">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur, et fuga fugiat ipsa libero rerum sapiente temporibus vel veritatis!</p>
                    <button class="btn btn-outline-success">Bestel nu!</button>
                </div>
            </div>

        </di>
    </div>
</div>